/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.installButton {
  background-color: var(--ifm-color-gray-900);
  padding: 11px;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: ease-in-out;
  border: none;
  color: white;
}